*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  width: 100vw;
  background-color: rgb(227, 230, 234);
  /* padding: 1rem; */
  overflow-x: hidden;
}

.form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-left: 1px solid rgb(208, 208, 208);
  border-right: 1px solid rgb(208, 208, 208);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0 50px  1px rgba(0, 0, 0, 0.2);

}

input{
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  border: 1.5px solid rgb(181, 174, 174);
}

label{
  font-weight: bold;
}

select{
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  border: 1.5px solid rgb(181, 174, 174); 
}

fieldset{
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.61rem;
  /* padding: 0.8rem 0rem; */
}


legend{
  font-weight: bold;
  /* padding-bottom: 1rem; */
}

.legend1{
  padding-bottom: 1rem;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.checkBox{
  display: flex;
   gap: 0.5rem;
   
}
.boxCheck{
  cursor: pointer;
}
.para{
  padding-left:1.3rem;
  color: rgb(147, 138, 138);
  font-size: medium;
}

.radio{
  display: flex;
  gap: 0.5rem;
}

.checkRadio{
  cursor: pointer;
}

.save{
  width: 60px;
  float: left;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  color: white;
  border: none;
  background-color: rgb(28, 125, 244);
}

.required{
  color: red;
}

.para1{
  color: rgb(147, 138, 138);
}

/* #firstName{
  border: 1px solid blue;
} */